<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/nav :: nav">
</nav>


<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5">
                        <a th:href="@{/user/{id}(id=${session.user.getId()})}"
                           th:text="'@' + ${session.user.getLogin()}"></a>
                    </div>
                    <div class="mr-2 text-center">
                        <img alt="" class="rounded-circle shadow p-1 mb-2 bg-white rounded"
                             src="https://picsum.photos/200/200" width="200">
                    </div>
                    <br>
                    <div class="h7 text-muted"
                         th:text="${session.user.getFirstname() + ' ' + session.user.getLastname()}">Fullname :
                    </div>
                    <div class="h7" th:text="${session.user.getAbout()}"></div>
                </div>
            </div>
        </div>

        <!-- CONTENT -->
        <div layout:fragment="content"></div>

        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Latest publications</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>

                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Latest comments</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>

                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        function user_search() {
            var matchvalue = $("#search").val();
            var cList = $('div#userFoundList');
            cList.empty();
            cList.css("display", "none");
            if (matchvalue.length > 2) {
                $.ajax({
                    url: '/user/search/' + matchvalue,
                    type: 'get'
                }).done(function (userList) {
                    var cList = $('div#userFoundList');
                    var container = cList.last();
                    container.empty();
                    cList.css("display", "block");
                    container.append("<hgroup class=\"mb20\">\n" +
                        "                <h1>Search Results</h1>\n" +
                        "                <h2 class=\"lead\"><strong class=\"text-danger\">" + Object.keys(userList).length + "</strong> results were found for the search for <strong class=\"text-danger\">" + matchvalue + "</strong></h2>\n" +
                        "            </hgroup>");
                    var html = "<section class=\"col-xs-12 col-sm-6 col-md-12\">";
                    userList.forEach(function (user) {
                        html += "<article class=\"d-flex align-items-left\">\n" +
                            "        <div class=\"mr-2\">\n" +
                            "            <img class=\"rounded-circle\" src=\"https://picsum.photos/50/50\" width=\"45\">\n" +
                            "        </div>\n" +
                            "       <div class=\"ml-2\">\n" +
                            "            <div class=\"h5 m-0\"><a href=\"/user/" + user.id + "\">" + user.lastname + " " + user.firstname + " (@" + user.login + ")</a></div>\n" +
                            "            <p class=\"text-muted small\">" + user.about + "</p>\n" +
                            "       </div>\n" +
                            "        <span class=\"clearfix borda\"></span>\n" +
                            "    </article>\n"
                    });
                    html += "</section>";
                    container.append(html);
                }).fail(function () {
                    var cList = $('div#userFoundList');
                    var container = cList.last();
                    container.empty();
                    cList.css("display", "none");
                });
            }
        }

        $(document).ready(function () {
            $("button.close").each(function (button) {
                button.on("click", function () {
                    $('div#userFoundList').css("display", "none");
                });
            });
            $(this).click(function (event) {
                if (event.target.id != "search") {
                    $('div#userFoundList').css("display", "none");
                }
            });
            $("#search").on({
                keyup: function () {
                    user_search();
                },
                focus: function () {
                    user_search();
                },
                keydown: function () {
                    var cList = $('div#userFoundList');
                    var container = cList.last();
                    container.empty();
                    cList.css("display", "none");
                }
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>