<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body>
<nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" th:href="@{/}">Re-union</a>
    <form class="form-inline" autocomplete="off">
        <div class="input-group">
            <input id="search" aria-describedby="button-addon2" aria-label="Recipient's username" class="form-control"
                   type="text">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" id="button-addon2" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    <div id="userFoundList" style="padding: 10px; border-radius: 5px;">
        <div class="container">

        </div>
    </div>
    <form method="get" th:action="@{/logout}">
        <button type="submit" class="btn btn-danger">Log Out</button>
    </form>
</nav>
</body>