body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

#messageBody {
    margin-top: 15px;
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

ul#userFoundList {
    display: none;
    border-bottom: 1px solid darkgray;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-radius: 0 0 5px 5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 55px;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
    width: 300px;
}