<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<div layout:fragment="content" class="col-md-6 gedf-main">

    <!--- \\\\\\\Post-->
    <div class="card gedf-card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a aria-controls="posts" aria-selected="true" class="nav-link active" data-toggle="tab"
                       href="#posts"
                       id="posts-tab" role="tab">Make a publication</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form method="post" th:action="@{/create_message}" th:object="${messageForm}">
                <div class="form-group">
                    <label class="sr-only">title</label>
                    <input class="form-control" type="text" minlength="1" maxlength="100" name="title"
                           placeholder="Title" th:field="*{messageTitle}">
                    <label class="sr-only">post</label>
                    <textarea class="form-control" minlength="1" maxlength="1000" name="body"
                              placeholder="What are you thinking?" th:field="*{messageBody}"
                              rows=" 3" id="messageBody"></textarea>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">share</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Post /////-->

    <!--- \\\\\\\Post-->

    <div class="card gedf-card" th:each="message: ${messages}">
        <div th:replace="fragments/message_card :: article"></div>
    </div>
    <!-- Post /////-->
</div>
</body>
</html>