<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link crossorigin="anonymous" href="/static/css/login.css" media="all" rel="stylesheet"
          th:href="@{../css/login.css}"
          type="text/css">
    <title>Login</title>
</head>
<body>
<div class="wrapper fadeInDown" id="loginF">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <h3>Login</h3>
        </div>

        <!-- Login Form -->
        <form method="post" action="/login">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" minlength="1"
                   maxlength="49">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password"
                   minlength="1" maxlength="49">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a href="#register">Create an account</a>
        </div>

    </div>
</div>

<div class="wrapper fadeInDown" id="register">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <h3>Create an account</h3>
        </div>

        <!-- Login Form -->
        <form method="post" action="/register">
            <input type="text" id="login2" class="fadeIn second" name="login" placeholder="login" minlength="1"
                   maxlength="49">
            <input type="text" id="fname" class="fadeIn second" name="fname" placeholder="first name" minlength="1"
                   maxlength="49">
            <input type="text" id="lname" class="fadeIn second" name="lname" placeholder="last name" minlength="1"
                   maxlength="49">
            <input type="password" id="password2" class="fadeIn third" name="password" placeholder="password"
                   minlength="1" maxlength="49">
            <input type="submit" class="fadeIn fourth" value="Create">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a href="#loginF">Login</a>
        </div>

    </div>
</div>

</body>
</html>