<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Re-union</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          rel="stylesheet">

    <link crossorigin="anonymous" href="/static/css/style.css" media="all" rel="stylesheet"
          th:href="@{../css/style.css}"
          type="text/css">
</head>
<body>
<nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" th:href="@{/}">Re-union</a>
    <form class="form-inline" autocomplete="off">
        <div class="input-group">
            <input aria-describedby="button-addon2" aria-label="Recipient's username" class="form-control"
                   type="text">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" id="button-addon2" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    <ul id="userFoundList">


    </ul>
    <form method="get" th:action="@{/logout}">
        <button type="submit" class="btn btn-danger">Log Out</button>
    </form>
</nav>


<div class="container-fluid gedf-wrapper">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="h5">
                        <a th:href="@{/user/{id}(id=${session.user.getId()})}"
                           th:text="'@' + ${session.user.getLogin()}"></a>
                    </div>
                    <div class="mr-2 text-center">
                        <img alt="" class="rounded-circle shadow p-1 mb-2 bg-white rounded"
                             src="https://picsum.photos/200/200" width="200">
                    </div>
                    <br>
                    <div class="h7 text-muted"
                         th:text="${session.user.getFirstname() + ' ' + session.user.getLastname()}">
                    </div>
                    <div class="h7" th:text="${session.user.getAbout()}"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 gedf-main">

            <!--- \\\\\\\Post-->
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img alt="" class="rounded-circle" src="https://picsum.photos/50/50" width="45">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0">
                                    <a th:href="@{/user/{id}(id=${singleMessage.getSender().getId()})}"
                                       th:text="'@' + ${singleMessage.getSender().getLastname() + singleMessage.getSender().getFirstname()}"></a>
                                </div>
                                <p class="text-muted small" th:text="${singleMessage.getSender().getAbout()}"></p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"><i class="fa fa-clock-o"></i><span
                            th:text="${#dates.format(singleMessage.getPublicationDate(), 'dd-MM-yyyy HH:mm')}"> Field</span>
                    </div>
                    <a class="card-link" href="#">
                        <h5 class="card-title" th:text="${singleMessage.getMessageTitle()}"></h5>
                    </a>

                    <p class="card-text" th:text="${singleMessage.getMessageBody()}">
                    </p>
                </div>
            </div>
            <!-- Post /////-->

            <div class="card-body">

                <form method="post" th:action="@{/comment/add}" th:object="${commentForm}">
                    <div class="form-group">
                        <input type="hidden" th:field="*{messageId}">
                        <label class="sr-only">post</label>
                        <textarea class="form-control" minlength="1" maxlength="1000" th:field="*{commentBody}"
                                  placeholder="Post comment"
                                  rows="3" id="messageBody"></textarea>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary" type="submit">send</button>
                    </div>
                </form>

            </div>

            <!--- \\\\\\\Post-->
            <div class="card gedf-card" th:each="comment: ${singleMessage.getCommentJsonList()}">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mr-2">
                                <img alt="" class="rounded-circle" src="https://picsum.photos/50/50" width="45">
                            </div>
                            <div class="ml-2">
                                <div class="h5 m-0"><a th:href="@{/user/{id}(id=${comment.getSender().getId()})}"
                                                       th:text="'@' + ${comment.getSender().getLastname() + comment.getSender().getFirstname()}"></a>
                                </div>
                                <p class="text-muted small" th:text="${comment.getSender().getAbout()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-muted h7 mb-2"><i class="fa fa-clock-o"></i><span
                            th:text="${#dates.format(comment.getCommentDate(), 'dd-MM-yyyy HH:mm')}"> Field</span>
                    </div>
                    <p class="card-text" th:text="${comment.getCommentBody()}">
                    </p>
                </div>
            </div>
            <!-- Post /////-->

            <!--- \\\\\\\Post-->
        </div>
        <div class="col-md-3">
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <a class="card-link" href="#">Card link</a>
                    <a class="card-link" href="#">Another link</a>
                </div>
            </div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the
                        card's content.</p>
                    <a class="card-link" href="#">Card link</a>
                    <a class="card-link" href="#">Another link</a>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var matchvalue = $(this).val();
                var cList = $('ul#userFoundList');
                cList.empty();
                cList.css("display", "none");
                if (matchvalue.length <= 2) {
                    exit();
                }
                $.ajax({
                    url: '/user/search/' + matchvalue,
                    type: 'get'
                }).done(function (userList) {
                    var cList = $('ul#userFoundList');
                    cList.empty();
                    if (Object.keys(userList).length == 0) {
                        cList.css("display", "none");
                    } else {
                        cList.css("display", "block");
                    }
                    userList.forEach(function (user) {
                        console.log('user :' + user.id);
                        cList.append('<li style="background: white; display: block;"><a href="/user/' + user.id + '">' + user.lastname + ' ' + user.firstname + '(@' + user.login + ')' + '</a></li>');

                    });
                });
            }).fail(function () {
                var cList = $('ul#userFoundList');
                cList.empty();
                cList.css("display", "none");
            });
            $("#search").on("keydown", function () {
                var cList = $('ul#userFoundList');
                cList.empty();
                cList.css("display", "none");
                console.log("down");
            })
        });

        /*]]>*/
    </script>

</div>
</body>
</html>