<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<div layout:fragment="content" class="col-md-6 gedf-main">

    <!--- \\\\\\\Post-->
    <div class="card gedf-card">
        <div th:replace="fragments/message_card :: article"></div>
    </div>
    <!-- Post /////-->

    <div class="card-body">
        <form method="post" th:action="@{/comment/add}" th:object="${commentForm}">
            <div class="form-group">
                <input type="hidden" th:field="*{messageId}">
                <label class="sr-only">post</label>
                <textarea class="form-control" minlength="1" maxlength="1000" th:field="*{commentBody}"
                          placeholder="Post comment"
                          rows="3" id="messageBody"></textarea>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">send</button>
            </div>
        </form>
    </div>

    <!--- \\\\\\\Post-->
    <div class="card gedf-card" th:each="comment: ${message.getCommentJsonList()}">
        <div th:replace="fragments/comments :: section"></div>
    </div>
    <!-- Post /////-->
</div>

</body>
</html>