<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<div layout:fragment="content" class="col-md-6 gedf-main">

    <h1><span th:text="${user.getFirstname() +' '+ user.getLastname() + ' (@'+ user.getLogin()+')'}"></span></h1>
    <p class="text-muted small" th:text="${user.getAbout()}"></p>


    <p>Last publications sent by <span th:text="${user.getFirstname() +' '+ user.getLastname()}"></span> :</p>
    <!--- \\\\\\\Post-->

    <div class="card gedf-card" th:each="message: ${messages}">
        <div th:replace="fragments/message_card :: article"></div>
    </div>
</div>
</body>
</html>